body {
  margin: 12px;
}

h1 {
  font-size: 50px;
}

p#chapterName {
  font-size: 35px;
  color: #000;
}

p,
h2 {
  color: #777;
}

audio {
  width: 100%;
}

button {
  height: 80px;
  font-size: 20px;
  touch-action: manipulation;
  &.play {
    font-size: 30px;
  }
}

.controls {
  position: fixed;
  bottom: 12px;
  left: 12px;
  width: calc(100% - 24px);
  display: grid;
  gap: 10px;
  grid-template-columns: max-content max-content 1fr max-content max-content;
}
