/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* -- APP */

meter {
  width: 100%;
}

audio {
  width: 100%;
}

.timing {
  display: flex;
  justify-content: space-between;
  font-size: 120%;
}

#chapter-title-text {
  font-size: 170%;
  color: #676767;
}

main {
  padding: 20px;

  & > #chapter-title-text {
    margin-bottom: 80px;
  }
}

h1 {
  font-size: 300%;
}

nav {
  background-color: #eee;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: max-content max-content 1fr max-content max-content;
  gap: 10px;
  height: 150px;
}

nav > button {
  background-color: transparent;
  display: grid;
  justify-content: center;
  align-items: center;
  border: none;

  &[play] > .material-icons {
    font-size: 70px;
  }

  &[basic] {
    padding: 10px 15px;

    & > .material-icons {
      font-size: 30px;
    }
  }
}
